.login {
  width: 350px;
}

.login .col {
  text-align: center;
  border: 1px solid orange;
  border-radius: 3%;
  padding: 10px;
  background-color: white;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.login .col a {
  color: gray;
}

.login .col .field {
  color: gray;
  margin-top: 3;
  margin-bottom: 3;
}

.login .col .field input {
  background-color: #f8f9fa;
}

.login .col .btn-warning {
  width: 173px;
  height: 35px;
  border-radius: 3%;
}

.login .col .submit {
  color: white;
}

#loginlogo, #signuplogo, #petlogo {
  -webkit-animation: fill 2s ease forwards 2.5s;
          animation: fill 2s ease forwards 2.5s;
}

#loginlogo path:nth-child(1) {
  stroke-dasharray: 74;
  stroke-dashoffset: 74;
  -webkit-animation: lineanim 2s ease forwards;
          animation: lineanim 2s ease forwards;
}

#loginlogo path:nth-child(2) {
  stroke-dasharray: 108;
  stroke-dashoffset: 108;
  -webkit-animation: lineanim 2s ease forwards 0.3s;
          animation: lineanim 2s ease forwards 0.3s;
}

#loginlogo path:nth-child(3) {
  stroke-dasharray: 173;
  stroke-dashoffset: 173;
  -webkit-animation: lineanim 2s ease forwards 0.6s;
          animation: lineanim 2s ease forwards 0.6s;
}

#loginlogo path:nth-child(4) {
  stroke-dasharray: 59;
  stroke-dashoffset: 59;
  -webkit-animation: lineanim 2s ease forwards 0.9s;
          animation: lineanim 2s ease forwards 0.9s;
}

#loginlogo path:nth-child(5) {
  stroke-dasharray: 105;
  stroke-dashoffset: 105;
  -webkit-animation: lineanim 2s ease forwards 1.2s;
          animation: lineanim 2s ease forwards 1.2s;
}

#signuplogo path:nth-child(1) {
  stroke-dasharray: 123;
  stroke-dashoffset: 123;
  -webkit-animation: lineanim 2s ease forwards;
          animation: lineanim 2s ease forwards;
}

#signuplogo path:nth-child(2) {
  stroke-dasharray: 59;
  stroke-dashoffset: 59;
  -webkit-animation: lineanim 2s ease forwards 0.3s;
          animation: lineanim 2s ease forwards 0.3s;
}

#signuplogo path:nth-child(3) {
  stroke-dasharray: 173;
  stroke-dashoffset: 173;
  -webkit-animation: lineanim 2s ease forwards 0.6s;
          animation: lineanim 2s ease forwards 0.6s;
}

#signuplogo path:nth-child(4) {
  stroke-dasharray: 105;
  stroke-dashoffset: 105;
  -webkit-animation: lineanim 2s ease forwards 0.9s;
          animation: lineanim 2s ease forwards 0.9s;
}

#signuplogo path:nth-child(5) {
  stroke-dasharray: 105;
  stroke-dashoffset: 105;
  -webkit-animation: lineanim 2s ease forwards 1.2s;
          animation: lineanim 2s ease forwards 1.2s;
}

#signuplogo path:nth-child(6) {
  stroke-dasharray: 145;
  stroke-dashoffset: 145;
  -webkit-animation: lineanim 2s ease forwards 1.5s;
          animation: lineanim 2s ease forwards 1.5s;
}

#petlogo path:nth-child(1) {
  stroke-dasharray: 149;
  stroke-dashoffset: 149;
  -webkit-animation: lineanim 2s ease forwards 0.3s;
          animation: lineanim 2s ease forwards 0.3s;
}

#petlogo path:nth-child(2) {
  stroke-dasharray: 154;
  stroke-dashoffset: 154;
  -webkit-animation: lineanim 2s ease forwards 0.6s;
          animation: lineanim 2s ease forwards 0.6s;
}

#petlogo path:nth-child(3) {
  stroke-dasharray: 112;
  stroke-dashoffset: 112;
  -webkit-animation: lineanim 2s ease forwards 0.9s;
          animation: lineanim 2s ease forwards 0.9s;
}

@-webkit-keyframes lineanim {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes lineanim {
  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: orange;
  }
}

@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: orange;
  }
}
/*# sourceMappingURL=style.css.map */