
<div class="toast btn-secondary-fluid-pet" role="alert" aria-live="assertive" aria-atomic="true" data-delay="2500" style="width: 250px; position: fixed; top: 70px; right: calc(50% - 125px);z-index:9999;">
  <div class="toast-header">
    <img src="https://storage.googleapis.com/oneadopt-public/images/logo_icon-y.png" class="mr-2" alt="logo" style="width: 20px; height: 20px;">
    <strong class="mr-auto">貓狗大平台</strong>
  </div>
  <div class="toast-body">
    <%= notice %>
  </div>
</div>
