<div class="container">
  <div class="row login">
    <div class="col">
      <h1>PET</h1>
        <%= link_to('I have an account 已有帳號', new_user_session_path) %>
        <%= link_to("Create an account 建立帳號", new_user_registration_path) %>
        <% if user_signed_in? %>
          <%= link_to('logout', destroy_user_session_path, method: :delete)%>
        <% end%>	
    </div>
  </div>
</div>

