<div class="container col-12 mx-auto bg-img">
  <div class="row">
    <div class="instroduction-card w-80 center mx-auto mt-5 text-center">
      <h2 class="text-primary-pet font-weight-bold letter-spacing">貓狗大平台</h2>
      <h5 class="text-secondary letter-spacing">讓愛不流浪</h5>
      <div class="text-primary-pet">
        <div>領養，不棄養 - 讓狗狗貓貓們有個家</div>
        <div>讓收容所的動物增加被看見的機會</div>
        <div>找到喜歡的動物進行收藏預約時間</div>
        <img src="../../../img/pet-dogs-and-cats.png" alt="pet-1">
      </div>
      <%= link_to "給她一個家", landingpage_pages_path ,class: 'btn btn-primary-pet btn-sm mx-auto my-5 px-5'%>
    </div>
  </div>

</div>
