<div class="container col-12 mx-auto bg-img-backend">
	<div class="row">
		<div class="w-80 center mx-auto mt-5 text-center">
			<div class="text-light letter-spacing mt-3 py-2 ">
				<div class="col color-primary-pet">
					<%= link_to  edit_sender_user_path do%>
					<p class="btn color-primary-pet btn-primary-pet mx-auto">管理預約者資料</p>
					<% end %>
				</div>
				<div class="col color-primary-pet">
					<%= link_to  sender_animals_path do%>
					<p class="btn color-primary-pet btn-primary-pet mx-auto">動物管理</p>
					<% end %>
				</div>
				<div class="col color-primary-pet">
					<%= link_to  sender_reservations_path do%>
					<p class="btn color-primary-pet btn-primary-pet mx-auto">預約管理</p>
					<% end %>
				</div>
				<%= image_pack_tag 'cats-dogs.png' ,class: 'w-50 mt-5 mb-3'%>
			</div>
		</div>
	</div>
</div>