@import 'bootstrap';

*{
  list-style: none;
  margin: 0;
  padding: 0;
}

.instroduction-card{
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
}
.bg-img{
  height: 100%;
  /*width: 100%;*/
  background-color: #add;
}
.text-primary-pet{
  color: #e09300;
}
.letter-spacing{
  letter-spacing: 4px;
}
a:hover{
  text-decoration: none;
}
.color-primary-pet{
  color: #e09300;
}
.btn-primary-pet{
  color: #e09300;
  background-color: #ffe600;
}
.btn-primary-pet:hover{
  color: #fff;
}
.btn-secondary-pet{
  color: #e09300;
  background-color: #ffe600;
}
.btn-delete-pet{
  color: #fff;
  background-color: #e06b5c;
}
.btn-delete-pet:hover{
  color: #601407;
}