@import 'bootstrap';

html, body{
  height: 100%
}
.wrap{
  min-height: 100%;
}
footer{
  width: 100%;
  position: relative;
  bottom: 0;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
  margin-bottom: 0rem;
}
.w-20{
  width: 20%;
}
.navbar-nav{
  margin-left: auto;
}
.navbar-item{
  position: relative;
  z-index:1;
  width: 100%;
  text-align: right;
}
.bg-img{
  position: absolute;
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
  background-image: url(../images/inst-bg-min-2.png);
}
.bg-img-backend{
  position: absolute;
  height: 100%;
  width: 100%;
  background-attachment: fixed;
  background-image: url(../images/toy-1-min.png);
}
.text-black-shadow{
  text-shadow: 1px 1px 3px rgba(0,0,0,.8)
}
.text-white-shadow{
  text-shadow: 1px 1px 1px rgba(255,255,255,.3)
}
.letter-spacing{
  letter-spacing: 5px;
}
a:hover{
  color: #aaa;
  text-decoration: none;
}
.fz-12{
  font-size: 12px;
}
.fz-14{
  font-size: 14px;
}
.fz-16{
  font-size: 16px;
}
.fz-18{
  font-size: 18px;
}
.bg-pet{
  background-color: #ffeed2;
}
.bg-primary-pet{
  background-color: #ffe600;
}
.btn-pet a:hover{
  color: #ffe600;
}
.bgcolor-primary-pet{
  background-color: #e09300;
}
.color-primary-pet{
  color: #e09300;
}
.btn-primary-pet{
  width: 200px;
  height: 35px;
  color: #e09300;
  background-color: #ffe600;
}
.btn-primary-pet:hover{
  color: #fff;
}
.btn-sm-primary-pet{
  width: 100px;
  height: 35px;
  color: #e09300;
  background-color: #ffe600;
}
.btn-sm-secondary-pet{
  width: 100px;
  height: 35px;
  color: #e09300;
  border: 1px solid #ffe600;
}
.btn-secondary-pet{
  width: 200px;
  height: 35px;
  color: #e09300;
  border: 1px solid #ffe600;
}
.btn-secondary-pet:hover{
  color: #888;
}
.btn-primary-fluid-pet{
  color: #e09300;
  background-color: #ffe600;
}
.btn-primary-fluid-pet:hover{
  color: #fff;
}
.btn-secondary-fluid-pet{
  color: #e09300;
  border: 1px solid #ffe600;
}
.btn-secondary-fluid-pet:hover{
  color: #888;
}
.btn-dark-pet{
  width: 200px;
  height: 35px;
  color: #fff;
  background-color: #ccc;
}
.btn-dark-pet:hover{
  color: #888;
}
.btn-delete-pet{
  width: 200px;
  height: 35px;
  color: #fff;
  background-color: #e06b5c;
}
.btn-delete-pet:hover{
  color: #601407;
}
.btn-sm-delete-pet{
  width: 100px;
  height: 35px;
  color: #fff;
  background-color: #e06b5c;
}
.btn-pet:hover{
  color: #ffe600;
}
.card-pet{
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(0,0,0,.2);
}
.btn-delete-outline-pet{
  color: #601407;
  border-color: #e06b5c;
}
.btn-delete-outline-pet:hover{
  color: #aaa;
  text-decoration: none;
}
.btn-delete-dark-pet{
  color: #fff;
  background-color: #AC2F20;
}
.btn-delete-dark-pet:hover{
  color: #601407;
}
.border-none{
  border-style:none
}
.btn-reservation:last{
  display: block;
}
.border-box{
  box-sizing: border-box;
}
.btn-set{
  flex: 1;
  max-width: 50%;
}
.breadcrumb-pet{
  font-size: 14px;
  display: flex;
  flex-wrap: wrap;
  padding: 20px 10px;
  margin: 0 0 0 15px;
  list-style: none;
  border-radius: 20px;
  a{
    color: #fff;
  }
  a:hover{
    color: #666;
    font-weight: 900;
  }
}
.bc-item{
  padding: 5px 15px;
  border-radius: 20px;
  background-color: #ffc107;
}
.bc-item-sender{
  padding: 5px 15px;
  border-radius: 20px;
  background-color: #ccc;
}
.breadcrumb-pet-item + .breadcrumb-pet-item {
  padding-left: 0.5rem;
}
.breadcrumb-pet-item + .breadcrumb-pet-item::before {
  content: " > ";
  display: inline-block;
  padding-right: 0.5rem;
  color: #aaa;
}
.border-left-pet::before{
  content: '';
  padding: 0 5px; 
  border-left: 2px solid #ccc;
}