@import 'bootstrap';

*{
	text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}
a:hover{
  text-decoration: none;
}

.fz-12{
	font-size: 12px;
}
.bg-pet{
	background-color: #fffbd8;
}
.color-primary-pet{
  color: #e09300;
}
.btn-primary-pet{
  color: #e09300;
  background-color: #ffe600;
}
.btn-primary-pet:hover{
  color: #fff;
}
.btn-secondary-pet{
  color: #e09300;
  background-color: #ffe600;
}
.btn-delete-pet{
  color: #fff;
  background-color: #e06b5c;
}
.btn-delete-pet:hover{
	color: #601407;
}
.btn-delete-outline-pet{
	color: #601407;
	border-color: #e06b5c;
}
.btn-delete-outline-pet:hover{
	color: #aaa;
	text-decoration: none;
}
.btn-delete-dark-pet{
	color: #fff;
	background-color: #AC2F20;
}
.btn-delete-dark-pet:hover{
	color: #601407;
}

