<%= javascript_pack_tag 'search-location' %>

<nav aria-label="breadcrumb-pet mt-4">
  <ol class="breadcrumb-pet">
    <li class="breadcrumb-pet-item"><%= link_to "首頁" , pages_path , class:'bc-item'%></li>
    <li class="breadcrumb-pet-item active" aria-current="page">搜尋</li>
  </ol>
</nav>

<%= render 'form'%>

<%= javascript_pack_tag 'search/advSearch'%>

