<%= javascript_pack_tag 'search-location' %>

<nav aria-label="breadcrumb-pet mt-4">
  <ol class="breadcrumb-pet">
    <li class="breadcrumb-pet-item"><%= link_to "首頁" , pages_path , class:'bc-item'%></li>
    <li class="breadcrumb-pet-item active" aria-current="page">搜尋</li>
  </ol>
</nav>

<%= render 'form'%>

<div class="modal fade" id="locationModal" tabindex="-1" role="dialog" aria-labelledby="locationModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <img src="https://storage.googleapis.com/oneadopt-public/images/logo_icon-y.png" class="mr-2" alt="logo" style="width: 25px; height: 25px;">
        <strong class="mr-auto">貓狗大平台</strong>
      </div>
      <div class="modal-body" id="map" style="width:100%;height:300px;">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" id="locationButton">Close</button>
      </div>
    </div>
  </div>
</div>

