<div class="bg-pet rounded-conversation px-4 py-3 my-3">
  <div class="text-black-50 fz-14 py-2">
    <i class="fas fa-paw color-secondary-pet pr-1"></i>
    <%= l personal_message.created_at, format: :custom_date_nc %>
    <%= l personal_message.created_at, format: :custom_time %>
  </div>
  <div class="fz-14 py-4">
    <%= emojify personal_message.body %>
  </div>
</div>