<p>您好 <%= @resource.email %>!</p>


<p>我們收到您有變更密碼的需求，您可以點選下方連結來變更您的密碼。</p>
<p><%= link_to '更改我的密碼', edit_password_url(@resource, reset_password_token: @token) %></p>


<p>如果您沒有提出變更密碼需求，請忽略這封郵件。</p>

<p>直到您點選連結並建立一個新的密碼，您的密碼不會被變更。</p>